%html
  %head
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js", :type => "application/javascript"}
    %script{:src => "assets/wssh.js", :type => "application/javascript"}
    %script{:src => "assets/term.js", :type => "application/javascript"}
    :javascript
      function init() {
        var k = document.createElement('span.monospace');
        k.innerHTML = '_';
        k.style.position = 'absolute';
        document.body.appendChild(k);

        var size =
        [
        k.offsetWidth,
        13 // k.offsetHeight
        ];


        document.body.removeChild(k);
        console.log(size[0]+' '+size[1]);
        width = parseInt($(window).width() / size[0]);
        height = parseInt($(window).height() / size[1]);
        first_time = true;
        var client = new WSSHClient('#{unique_id}');
        var term = new Terminal(width, height, function(key) {
          client.send(key);
        });
        term.open();
        $('.terminal').detach().appendTo('#term');
        //term.resize(200, 40);
        term.write('Connecting...');
        client.connect($.extend({}, {
            onError: function(error) {
                term.write('Error: ' + error + "\\r\\n");
            },
            onConnect: function() {
                if(first_time == true) {
                  term.write('\r');
                  client.start(width, height);
                  first_time = false;
                }
            },
            onClose: function() {
              term.destroy();
              $('.terminal').remove();
                //term.write('Connection Reset By Peer');
            },
            onTerminate: function() {
            },
            onData: function(data) {
                console.log(data);
                term.write(data);
            }
        }));

        window.onresize = function() {
          width = parseInt($(window).width() / size[0]);
          height = parseInt($(window).height() / size[1]);
          client.resize(width, height);
          term.resize(width, height);
        };

        function log(msg) { document.getElementById('log').innerHTML += msg + '<br>'; }
      }
    %link{:href => "assets/bootstrap.css", :rel => "stylesheet"}/
    %link{:href => "assets/style.css", :rel => "stylesheet"}/
  %body{:onload => "init();"}
    #term
